:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-more: hsl(215, 20%, 12%);
  --very-dark-blue: hsl(216, 12%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  padding: 24px;
  background-color: var(--very-dark-blue);
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  height: fit-content;
  max-width: 352px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  min-height: 380px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--dark-blue-more)
  );
  border-radius: 14px;
  #star {
    display: flex;
    align-items: center;
  }
  img {
    background-color: var(--dark-blue-more);
    padding: 12px;
    border-radius: 100%;
  }
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  p {
    color: var(--light-grey);
  }
  button {
    font-family: "Overpass", sans-serif;
    background-color: var(--orange);
    border: none;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    padding: 10px;
    color: var(--very-dark-blue);
    border-radius: 24px;
    cursor: pointer;
    margin-top: 8px;
    &:active {
      background-color: white;
      color: var(--very-dark-blue);
    }
  }
}
fieldset {
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}
.rate {
  font-weight: 700;
  cursor: pointer;
  color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--dark-blue);
  border-radius: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.rate input {
  display: none;
}

.rate input:checked + label {
  background-color: var(--orange);
  color: var(--very-dark-blue);
}

.rate:hover {
  background-color: white;
  color: var(--very-dark-blue);
}

.thank-you {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 16px;

  #selected {
    background-color: var(--dark-blue);
    color: var(--orange);
    max-width: max-content;
    padding: 10px;
    border-radius: 24px;
  }
  img {
    max-width: 162px;
    border-radius: 0px !important;
    background-color: transparent;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: var(--orange);
  text-decoration: none;
}
